<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2gMeS7N17l7Z8JcUv67gNR8PS-xUs-XE</string>
	<key>GCM_SENDER_ID</key>
	<string>87157512673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.digitalcowboy.toothtycoon</string>
	<key>PROJECT_ID</key>
	<string>tooth-tycoon</string>
	<key>STORAGE_BUCKET</key>
	<string>tooth-tycoon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87157512673:ios:5a8cae50220149e9addaa0</string>
</dict>
</plist>